/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .title
{
    color: #8243e9;
}
  input[type="password"] {
    font-family: monospace;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

.left
{
  text-align: left;
  font-family: sans-serif;
}

.title{
  font-family: sans-serif;
}

.font{
  font-family: sans-serif;
}